@import "@kestra-io/ui-libs/src/scss/variables.scss";

#app {
    .v-sidebar-menu.vsm_expanded.overlay {
        position: absolute;
    }

    .vsm--item {
        padding: 0 30px;
        transition: padding 0.2s ease;
    }

    .vsm--icon {
        width: 20px;
        margin-right: calc($spacer / 2);
        transition: left 0.2s ease;
        background-color: transparent !important;
        padding-bottom: 15px;
        z-index: 3;

        svg {
            height: 20px !important;
            width: 20px !important;
            position: relative;
            margin-top: 13px;
        }
    }

    .vsm--title {
        font-size: $font-size-sm;

        &>span {
            width: 100%;
        }
    }

    .vsm--child {
        .vsm--item {
            padding: 0;

            .vsm--title {
                font-size: $font-size-xs;
            }
        }

        .vsm--icon {
            width: 1rem;

            svg {
                height: 1rem !important;
                width: 1rem !important;
            }
        }
    }

    .vsm--link {
        height: 30px;
        padding: 0.25rem 0.5rem;
        margin-bottom: 0.3rem;
        border-radius: .25rem;
        transition: padding 0.2s ease;
        color: var(--ks-content-primary);
        box-shadow: none;

        &_active,
        body &_active:hover {
            background-color: var(--ks-button-background-secondary-active) !important;
            font-weight: normal;
        }

        &.vsm--link_open,
        &.vsm--link_open:hover {
            background-color: var(--ks-background-left-menu);
            color: var(--ks-content-primary);
        }

        &_disabled {
            pointer-events: auto;
            opacity: 1;
        }

        &:hover,
        body &_hover {
            background-color: var(--ks-button-background-secondary-hover);
        }

        .el-tooltip__trigger {
            display: flex;
        }

        &>span {
            max-width: 100%;
        }
    }

    .vsm--link_open {
        position: relative !important;
        z-index: 3;
    }

    .vsm_collapsed .vsm--link_open {
        position: static !important;
    }

    .vsm--child .vsm--link {
        padding: 0 0.2rem;
        position: relative !important;
        margin-left: 1.8rem;

        &.vsm--link_level-3 {
            margin-left: 3.6rem;

            & span {
                margin-left: calc($spacer / 4);
            }
        }

        .vsm--icon {
            margin-left: calc($spacer / 2);
            color: var(--ks-content-secondary);
        }

        &:before {
            content: "";
            position: absolute;
            left: -.8rem;
            height: 150%;
            border: 2px solid var(--ks-border-primary);
            border-top: 0;
            border-right: 0;
            z-index: 2;
            // mask the right half of the object and the top border
            clip-path: polygon(50% 8px, 50% 100%, 0 100%, 0 8px);
        }
    }

    .vsm--title span:first-child {
        flex-grow: 0;
    }

    .vsm--arrow_default {
        width: 8px;

        &:before {
            border-left-width: 1px;
            border-bottom-width: 1px;
            height: 4px;
            width: 4px;
            top: 3px;
        }
    }

    a.vsm--link_active[href="#"] {
        cursor: initial !important;
    }

    .vsm--dropdown {
        background-color: var(--ks-background-left-menu);
        border-radius: 4px;
        margin-bottom: .5rem;

        .vsm--title {
            top: 3px;
        }
    }

    .vsm--scroll-thumb {
        background: var(--ks-border-primary) !important;
        border-radius: 8px;
    }

    .vsm--mobile-bg {
        border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0;
    }

    .el-tooltip__trigger .lock-icon.material-design-icon>.material-design-icon__svg {
        bottom: 0 !important;
        margin-left: 5px;
    }

    .vsm--item {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 10px;
            height: 1.25rem;
            z-index: 5;
            background: linear-gradient(to top, var(--ks-background-left-menu), transparent);
            opacity: 0.18;
        }
    }
}