name: Main Workflow

on:
  push:
    branches:
      - releases/*
      - develop

  workflow_dispatch:
    inputs:
      skip-test:
        description: 'Skip test'
        type: choice
        required: true
        default: 'false'
        options:
          - "true"
          - "false"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-main
  cancel-in-progress: true

jobs:
  # When an OSS ci start, we trigger an EE one
  trigger-ee:
    runs-on: ubuntu-latest
    steps:
      # Targeting develop branch from develop
      - name: Trigger EE Workflow (develop push, no payload)
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/develop' }}
        with:
          token: ${{ secrets.GH_PERSONAL_TOKEN }}
          repository: kestra-io/kestra-ee
          event-type: "oss-updated"
          client-payload: '{"ref": "${{ github.ref }}", "commit_sha": "${{ github.sha }}"}'

  backend-tests:
    name: Backend tests
    if: ${{ github.event.inputs.skip-test == 'false' || github.event.inputs.skip-test == '' }}
    uses: kestra-io/actions/.github/workflows/kestra-oss-backend-tests.yml@main
    secrets:
      GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      TRUNK_API_TOKEN: ${{ secrets.TRUNK_API_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
      DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}
    with:
      java-version: 25

  frontend-tests:
    name: Frontend tests
    if: ${{ github.event.inputs.skip-test == 'false' || github.event.inputs.skip-test == '' }}
    uses: kestra-io/actions/.github/workflows/kestra-oss-frontend-tests.yml@main
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      TRUNK_API_TOKEN: ${{ secrets.TRUNK_API_TOKEN }}
      GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish-develop-docker:
    name: Publish Docker
    needs: [backend-tests, frontend-tests]
    if: "!failure() && !cancelled() && github.ref == 'refs/heads/develop'"
    uses: kestra-io/actions/.github/workflows/kestra-oss-publish-docker.yml@main
    with:
      plugin-version: 'LATEST-SNAPSHOT'
      java-version: 25
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
      GH_PERSONAL_TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}


  publish-develop-maven:
    name: Publish develop Maven
    needs: [ backend-tests, frontend-tests ]
    if: "!failure() && !cancelled() && github.ref == 'refs/heads/develop'"
    uses: kestra-io/actions/.github/workflows/kestra-oss-publish-maven.yml@main
    secrets:
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      SONATYPE_GPG_KEYID: ${{ secrets.SONATYPE_GPG_KEYID }}
      SONATYPE_GPG_PASSWORD: ${{ secrets.SONATYPE_GPG_PASSWORD }}
      SONATYPE_GPG_FILE: ${{ secrets.SONATYPE_GPG_FILE }}
    with:
      java-version: 25

  end:
    runs-on: ubuntu-latest
    needs: [backend-tests, frontend-tests, publish-develop-docker, publish-develop-maven]
    if: "always() && github.repository == 'kestra-io/kestra'"
    steps:
      - run: echo "end CI of failed or success"

      # Slack
      - run: echo "mark job as failure to forward error to Slack action" && exit 1
        if: ${{ contains(needs.*.result, 'failure') }}
      - name: Slack - Notification
        if: ${{ always() && contains(needs.*.result, 'failure') }}
        uses: kestra-io/actions/composite/slack-status@main
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          channel: 'C09FF36GKE1'
