name: Pre Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      skip-test:
        description: 'Skip test'
        type: choice
        required: true
        default: 'false'
        options:
          - "true"
          - "false"

jobs:
  build-artifacts:
    name: Build Artifacts
    uses: kestra-io/actions/.github/workflows/kestra-oss-build-artifacts.yml@main
    with:
      java-version: 25

  backend-tests:
    name: Backend tests
    uses: kestra-io/actions/.github/workflows/kestra-oss-backend-tests.yml@main
    if: ${{ github.event.inputs.skip-test == 'false' || github.event.inputs.skip-test == '' }}
    secrets:
      GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      TRUNK_API_TOKEN: ${{ secrets.TRUNK_API_TOKEN }}
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      GOOGLE_SERVICE_ACCOUNT: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
    with:
      java-version: 25

  frontend-tests:
    name: Frontend tests
    uses: kestra-io/actions/.github/workflows/kestra-oss-frontend-tests.yml@main
    if: ${{ github.event.inputs.skip-test == 'false' || github.event.inputs.skip-test == '' }}
    secrets:
      GITHUB_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      TRUNK_API_TOKEN: ${{ secrets.TRUNK_API_TOKEN }}

  publish-maven:
    name: Publish Maven
    needs: [ backend-tests, frontend-tests ]
    if: "!failure() && !cancelled()"
    uses: kestra-io/actions/.github/workflows/kestra-oss-publish-maven.yml@main
    secrets:
      SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
      SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
      SONATYPE_GPG_KEYID: ${{ secrets.SONATYPE_GPG_KEYID }}
      SONATYPE_GPG_PASSWORD: ${{ secrets.SONATYPE_GPG_PASSWORD }}
      SONATYPE_GPG_FILE: ${{ secrets.SONATYPE_GPG_FILE }}
    with:
      java-version: 25

  publish-github:
    name: Github Release
    needs: [build-artifacts, backend-tests, frontend-tests]
    if: "!failure() && !cancelled()"
    uses: kestra-io/actions/.github/workflows/kestra-oss-publish-github.yml@main
    secrets:
      GH_PERSONAL_TOKEN: ${{ secrets.GH_PERSONAL_TOKEN }}
      SLACK_RELEASES_WEBHOOK_URL: ${{ secrets.SLACK_RELEASES_WEBHOOK_URL }}
